<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/model.css}"/>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <title>lecturer index</title>

</head>
<body>
<div class="sidenav">
    <h2>TA Management</h2>
    <a href="/students/index_student" style="background-color: #575757">Index</a>
    <a href="/students/courses">Courses</a>
    <a href="/students/application">Apply for TA</a>
    <a href="/students/viewAPPOffer">Application&Offer</a>
    <a href="/students/positions">Pers.Positions</a>


    <a href="/students/timetable">Timetable</a>


    <div class="user-info" th:text="${student.username}"></div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="main">
    <h1> Student Page</h1>
    <hr>
    <h3>Self-info</h3>
    <table class="self-info">
        <thead>
        <tr>
            <th style="width: 50%;">Information</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>StudentID</td>
            <td th:text="${student.studentId}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${student.email}"></td>
        </tr>
        <tr>
            <td>Stage</td>
            <td th:text="${student.stage}"></td>
        </tr>
        <tr>
            <td>Major</td>
            <td th:text="${student.majorCode}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>
